<div class="collapse navbar-collapse navbar-ex1-collapse hidden-xs " >
    {% if page.primary_menu %}
    {{ page.primary_menu }}
    {% endif %}  


</div>

<div class="sidenav ">

    <!-- Use any element to open the sidenav -->

    {% if page.primary_menu %}
    {{ page.primary_menu }}
    {% endif %}  


</div>