<!-- Header Section -->
<div class="header" style="background: url('/themes/prisma/assets/images/factoria.png'); background-size: cover;">
    {% include directory ~ '/templates/header/header-page.html.twig' %}
</div>
<div class="background"></div>
<div class="wrap factoria-temp">
    <div class="main-contain">
        <div class="page-intro container">
            {{ page.content }}
        </div>
    </div>
    <div class="page-content container-fluild">
        <div class="container page-body">
            <h2>Estas son algunas de las marcas para las que trabajamos: </h2>
            
                {{page.trademark_widget}}
            
        </div>
    </div>
            
        <div class="container actualidad post-new-section">
            <div class="post-lists row">
                <h2>Actualidad</h2>
                {{page.actualidad_widget}}
            </div>
        </div>
</div>

<!-- Footer Section -->

{% include directory ~ '/templates/footer/footer.html.twig' %}

<!-- /Footer Section -->
