<!-- Header Section -->
<div class="header" style="background: url('/themes/prisma/assets/images/revistas.png'); background-size: cover;">
    {% include directory ~ '/templates/header/header-page.html.twig' %}
</div>
<div class="background"></div>
<div class="wrap revistas-temp">
    <div class="page-intro page-body">
        {{page.page_revistas}}
    </div>
</div>

<!-- Footer Section -->

{% include directory ~ '/templates/footer/footer.html.twig' %}

<!-- /Footer Section -->
