<!-- Header Section -->
<div id="main">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <div style="margin-top: 45%">
            {{page.content}}
            </div>
        </div>
    </div>
</div>