

<div id="main">
    {% include directory ~ '/templates/header/header.html.twig' %}

    <div class="wrap home-temp">
        {{page.home_actualidad}}

        <!--// JOURNALS SLIDER \\-->
        {{page.home_rivistas}}
    </div>


        {% include directory ~ '/templates/footer/footer.html.twig' %}

</div>
