<!-- Header Section -->
<div class="header header-actualidad" style="background: url('/themes/prisma/assets/images/actualidad-bg.png'); background-size: cover;">
    {% include directory ~ '/templates/header/header-page.html.twig' %}
</div>
<div class="background"></div>
<div class="wrap actualidad-temp">

    <div class=" eventos-content">
        <div class="container">
            {{page.page_actualidad}}
        </div>
    </div>
</div>
<!-- Footer Section -->

{% include directory ~ '/templates/footer/footer.html.twig' %}

<!-- /Footer Section -->
