<!-- Header Section -->
<div class="header" style="background: url('/themes/prisma/assets/images/eventos-bg.png'); background-size: cover;">
    {% include directory ~ '/templates/header/header-page.html.twig' %}
</div>
<div class="background"></div>
<div class="wrap eventos-temp">
    <div class="main-contain">
        <div class="page-intro container">
            {{ page.content }}
        </div>

        <div class="page-content container-fluild  eventos-content">
            <div class="container page-body">
                {{page.page_eventos}}

            </div>
        </div>

        <div class="container actualidad post-new-section">
            <div class="post-lists row">
                <h2>Actualidad</h2>
                {{page.actualidad_widget}}
            </div>
        </div>
    </div>
</div>

<!-- Footer Section -->

{% include directory ~ '/templates/footer/footer.html.twig' %}

<!-- /Footer Section -->
