{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
{% for key,row in rows %}
    {%if(key%2==0)%}
        {%set id = "left"%}
        {% set class= "container"%}
    {% else %}
        {%set id = "right"%}
        {%set class= "color-block"%}
    {%endif%}
    <div id="{{ id}}" class="{{class}} animatedParent  bounce-up cf">
        <div class="subject">
        {{ row.content}}
        </div>
    </div>
{% endfor %}