
<!--// POST LIST \\-->
<!--// POST LIST \\-->
<div class="post-new-section bgd-image">
    <div class="container">
        <h3 class="title">Actualidad</h3>
        <div class="post-lists row">
     
            {% for key,row in rows %}
                {% set img = file_url(row['content']['#row']._entity.field_image.entity.fileuri)%}
                {% set path = row['content']['#row']._entity.title.url%}
                {% if(key==0)%}
                    <div class="post-item item-first col-sm-8 col-xs-12">
                        <div class="post-bg" style="background-image: url('{{img}}');">
                    {%else%}
                        <div class="post-item col-sm-4 col-xs-12">
                         <div class="post-bg imgResize-1-1" style="background-image: url('{{img}}');">
                        {%endif%}
            
                        {{row.content}}
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
    <!--// POST LIST \\-->
