
<section class="noticias-section">
    <div class="container">
        <div class="row">
            <h3 class="text-center title">Noticias</h3>
            <div class="flex-wrap-center-colum">
                {% for key,row in rows %}
                    <div class="noticias-item col-sm-4 col-xs-12">
                        <a href="#">
                            <div class="noticias-bg imgResize-19-16" style="background-image: url('{{file_url(row['content']['#row']._entity.field_image.entity.fileuri)}}');">
                            </div>

                        </a>
                     {{row.content}}
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section>