<section class="banner_section bg_grey pb-100">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div style=" overflow: hidden;">
                    <img src="/themes/prisma/images/banner_bottom.png">
                </div>
            </div>
        </div>

    </div>

</section>