<div class="footer">
    <div class="container">
        {% include directory ~ '/templates/contact/contact.html.twig' %}
        <div class='row'>
            <div class="col-xs-12">
                <div class="ads">
                    <img src="/themes/prisma/assets/images/footer-ads.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-text">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 footer-link">
                    <ul>
                        <li><a href="https://www.linkedin.com/company/prismapublicaciones/?trk=ppro_cprof&originalSubdomain=es" target="_blank">Aviso legal</a></li>
                        <li><a href="#">Condiciones de uso</a></li>
                        <li><a href="#">Política de cookies</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-pull-6 copyright">
                    <p>© Prisma Publicaciones 2002 S.L </p>
                </div>
            </div>
        </div>
    </div>
</div>
