
<div id="main">

    {% include directory ~ '/templates/header/header.html.twig' %}
    <div class="wrap home-temp">
        {{ page.content }}

    </div>
    <div class="footer">
        {% include directory ~ '/templates/footer/footer.html.twig' %}

    </div>
</div>

